 /* Google Fonts - Poppins */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 }
 

 body {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #4070f4;
   flex-direction: column;
   gap: 2rem;
 }
 .small
 {
  /* background-color: black; */
  color: white;
  font-weight: bolder;
}
 .container {
   position: relative;
   display: flex;
    flex-direction: column;
   width: 30%;
   padding: 2rem;
   border-radius: 1.58rem;
   background-color: #fff;
  
 }
 .small{
  position: relative;
  top: 0rem;

 }
 .container header {
   font-size: 2rem;
   font-weight: 600;
   
   color: #333;
 }
 .container .signup{
 display: flex;
 flex-direction: column;
 }
 .container form {
   margin-top: 30px;
 }
 form .field {
   margin-bottom: 20px;
 }
 form .input-field {
   position: relative;
   height: 55px;
   width: 100%;
 }
 .input-field input {
   height: 100%;
   width: 100%;
   outline: none;
   border: none;
   border-radius: 0.8rem;
   padding: 0 15px;
   border: 1px solid #d1d1d1;
 }

 .invalid input {
   border-color: #d93025;
 }

 .input-field .show-hide {
   position: absolute;
   right: -0rem;
   top: 50%;
   transform: translateY(-50%);
   font-size: 1rem;
   color: #919191;
   cursor: pointer;
   padding: 0.5rem;
 }
 .field .error {
   display: flex;
   align-items: center;
   margin-top: 1.5rem;
   color: #d93025;
   font-size: 13px;
   display: none;
 }
 .invalid .error {
   display: flex;
 }
 .error .error-icon {
   margin-right: 6px;
   font-size: 15px;
 }
 .create-password .error {
   align-items: flex-start;
 }
 .create-password .error-icon {
   margin-top: 4px;
 }
 .button {
   margin: 25px 0 6px;
 }
 .button input {
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   background-color: #4070f4;
   cursor: pointer;
   transition: all 0.3s ease;
 }
 .button input:hover {
   background-color: #0e4bf1;
 }
 

 @media screen and (max-width:800px) {
  .container{
    width: 70%;
  }
  .container{
    margin-bottom: 12rem;
  }
 }